<header class="header" role="banner">

  <div class="wrapper site-nav-wrapper">
    <div class="site-nav_logo"><a href="{{ "/" | relative_url }}">{% include animated_logo.svg %}</a></div>
    <nav class="site-nav">
      <a class="site-nav_page-link" target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a>
      <a class="site-nav_page-link" target="_blank" href="{{ site.linkedin_url }}">LinkedIn</a>
      <a class="site-nav_page-link" target="_blank" href="mailto:{{ site.email }}">Email</a>
      <a class="site-nav_page-link" target="_blank" href="{{ "/assets/resume.pdf" | relative_url }}">Resume</a>
    </nav>
  </div>

</header>
