<header class="header" role="banner">

  <div class="wrapper site-nav-wrapper">
    <div class="site-nav_logo">{% include animated_logo.svg %}</div>
    <nav class="site-nav">
      <a class="site-nav_page-link" target="_blank" href="https://github.com/shamwow">GitHub</a>
      <a class="site-nav_page-link" target="_blank" href="https://ca.linkedin.com/pub/shahmeer-navid/41/a16/6b4">LinkedIn</a>
      <a class="site-nav_page-link" target="_blank" href="mailto:shahmeernavid@gmail.com">Email</a>
      <a class="site-nav_page-link" target="_blank" href="http://shahmeer.co/resume.pdf">Resume</a>
    </nav>
  </div>

</header>
