<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content">
      <div class="wrapper">
        <div class="about-header-wrapper">
          <div class="about-header">
            <a href="/">
              <div class="about-header_main-logo">{% include logo.svg %}</div>
              <div class="about-header_slogan">
                <h3 class="about-header_slogan_title">My name is Shahmeer</h3>
                <span class="about-header_slogan_subtitle">I sometimes make things</span>
              </div>
            </a>
          </div>
        </div>
        {{ content }}
      </div>
    </main>

  </body>

</html>
